<div class="slideshow-container">
    
</div> 
<div class="slideshow-container slideshow-overlay">
<div class="firstRow">
  <p *ngIf="showImage">
    Hi,<br>
    I'm <span class="first-name">Simon</span> Baumhauer <br>
    Front End develop<span style="color: rgb(45, 252, 216);">e</span>r
    <button>
      <a>Contact me</a> 
     </button>
  </p>
  <img class="profile-picture" src="../assets/img/profile-picture_1.png" alt="">
</div>
    <button class="slide-down-btn">
      <a href="" >
        <img src="../assets/img/Chervron.svg" alt="" (click)="scrollToIdRef(target)">
      </a>
    </button>
  </div>
  <app-skill-sheet #target></app-skill-sheet>
  <app-projects></app-projects>
  <app-about-me></app-about-me>
  <app-contact-formular></app-contact-formular>

