<div class="slideshow-container"></div>
<div class="slideshow-container slideshow-overlay">
  <div class="firstRow">
    <div class="header" *ngIf="showImage">
      <h1>
        Hi,<br />
        I'm <span class="first-name">Simon</span> Baumhauer <br />
        Front End develop<span style="color: rgb(45, 252, 216)">e</span>r
      </h1>
      <button class="button">
        <a (click)="goDowntoContact()">Contact me</a>
      </button>
    </div>
    <img
      class="profile-picture"
      src="../assets/img/profile-picture_1.png"
      alt=""
    />
  </div>
  <button class="slide-down-btn">
    <a (click)="goDowntoSkillsheet()">
      <img src="../assets/img/Chervron.svg" alt="" />
    </a>
  </button>
</div>
<app-skill-sheet id="skill-sheet"></app-skill-sheet>
<app-projects></app-projects>
<app-about-me></app-about-me>
<app-contact-formular id="contact-form"></app-contact-formular>
