.slideshow-container {
    width: 100wh;
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}

.img-sildeshow {
width: 100vw;
height: 100vh;
max-width: 100%;
animation: zoomIn 8s ease;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.slideshow-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    p {
        margin-left: 120px;
        margin-right: 120px;
        max-width: 1200px;
        padding-left: 32px;
        color: aliceblue;
        font-size: 80px;
        border-left: 8px solid #d85050;
    }

    .fadeIn {
        animation: fadeInAnimation 1s ease-in-out;
    }

    @keyframes fadeInAnimation {
        from {
            opacity: 0;
            transform: translateY(20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .profile-picture {
        width: 400px;
        border-radius: 100%;
    }

}
