<div class="about-me">
    <div class="header">
        <img src="../assets/img/IMG_20211209_173204.jpg" alt="">
        <div class="headline">
            <h2>About me.</h2>
            <p>
                " I'm an sports enthusiast (Jiu Jistu competitor) and<br>
                 front end developer who loves to be challenged "
            </p>
        </div>
    </div>
    <div class="about-me-content">
        <div>
            <img src="../assets/img/walk-line.png" alt="">
            <h4>I started</h4>
            <p>as a Nurse in different Healthcare Institutions
                wich was very satisfiing Socialy
                I worked long hours in shift work
                but I realized early on that I want to challange my mind more
                
            </p>
        </div>
        <div>
            <img src="../assets/img/heart-line.png" alt="">
            <h4>My Passion</h4>
            <p>was always wiht Computers
            ,since I was speding a lot of time on them
            I was cirous to be Software developer but thought
            a in need to study first to become one as soon
            a i realized that this isn't the case. I started
            learning and and builiding Projects.
               
            </p>
        </div>
        <div>
            <img src="../assets/img/search-line.png" alt="">
            <h4>My Search</h4>
            <p>after 1 year a lot of research, looking
             into every coding couse I could find online.
            I decided for the Developer Akademie, they gave me
             a structe and a feedback loop of seasond developer
            from the Industrie.
            </p>
        </div>
        <div>
            <img src="../assets/img/flight-takeoff-line.png" alt="">
            <h4>My Journey</h4>
            <p>I in the beginning statet to realize the exictment
                 I have while building new thing and how much
                satifaction it gave me to see the results.
                This was the moment I realized this is what
                i want to do for living.
            </p>
        </div>

    </div>
</div>
