.projects-sheet {
    overflow: hidden;
    width: 100vw;
    min-height: 110vh;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;

    h2 {
        color: white;
        font-size: 36px;
    }

    .projects-container {
        display: flex;
        max-width: 800px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .projects {
        background-color: white;
        width: 350px;
        height: 300px;
        margin: 10px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        position: relative;



    .img {
         width: 100%;
         min-height: 100%;
         max-height: 100%;
         object-fit: contain;
         object-position: center;

            
        

        } 
   

        .overlay {
        background-color: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0; 
        right: 0;
        height: 300px;
        position: absolute;
        z-index: 1;
        transition: 0.3s;
        opacity: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

            &:hover {
                height: 300px;
                background-color: rgba($color: #ffffff, $alpha: 0.8);
                opacity: 1.0;
            }

            h4 {
                color:rgb(250, 39, 89);
                font-weight: bold;
            }

        .button-container  {
            display: flex;
            justify-content: space-around;
        }

        
        

        button, a {
            background-color: #FFF;
            z-index: 2;
            opacity: 1.0;
            width: 85px;
            height: 40px;
            margin: 0;
            padding: 0px;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;


            
            &:hover {
                background-color: rgb(250, 39, 89);
                color: white;
            }

        } 

        }

          }

          
        .el-pollo-loco-pic {
            .img {
                object-fit: cover;
            }
        
        }

        .quizapp-pic { 
            .img {
                object-fit: cover;
            }
        }       

        .kochwelt-pic {
            img {
                width: 100%;
                object-position: center;
            }
            background-color: rgba(25, 128, 25, 0.8);
        }


          .project-managment-tool {
            background-color: rgba(21, 21, 190, 0.4);

            .img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
            }
     }
    
    button, a {
        z-index: 1;
        padding: 15px 50px;
        margin: 15px 5px;
        border: rgb(250, 39, 89) 2px solid;
        background-color: transparent;
        color: rgb(250, 39, 89);
        cursor: pointer;

        &:hover {
            background-color: rgb(250, 39, 89);
            color: white;
        }



        
    }

    .button-active {
        background-color: rgb(250, 39, 89);
        color: white;
    }
}
.fadeIn {
    animation: fadeInAnimation 1s ease-in-out;
}


@keyframes fadeInAnimation {
    from {
        height: 0;
    }
    to {
        height: 300px;
    }
}

    .d-none {
        display: none;
    }


@media only screen and (max-width: 750px) {
    .projects {
        width: 250px;
        height: 200px;
    }

 
}

@media only screen and (max-width: 520px) {
    .projects-sheet {
        button {
            padding: 15px 18px;
        }

        .projects {
            width: 90%;
        }
    }

  
}

