<div class="projects-sheet" id="projects">
  <h2>My Projects</h2>
  <div class="button-container">
    <button id="showAll" (click)="showAll()" class="button-active">ALL</button>
    <button id="showJavascript" (click)="showJavascript()">Javascipt</button>
    <button id="showAngular" (click)="showAngular()">Angular</button>
  </div>
  <div class="projects-container">
    <div
      class="projects el-pollo-loco-pic"
      *ngIf="javascript; all"
      data-aos="fade-left"
    >
      <img class="img" src="../assets\img\el-pollo-loco-pic.jpg" alt="" />
      <div class="overlay">
        <h4>El-Pollo-Loco</h4>
        <p>Javascipt-based jump and run game</p>
        <div class="button-wrap">
          <a
            class="button"
            href="http://simon-baumhauer.developerakademie.net/El-pollo-loco"
            target="_blank"
            >TRY OUT</a
          >
          <a
            class="button"
            href="https://github.com/simon-baumhauer/El-pollo-loco.git"
            target="_blank"
            >Github</a
          >
        </div>
      </div>
    </div>
    <div
      class="projects project-managment-tool"
      *ngIf="javascript; all"
      data-aos="fade-right"
    >
      <img class="img" src="../assets/img/join-pic.png" alt="" />
      <div class="overlay">
        <h4>Join</h4>
        <p>Project-Managment tool</p>
        <div class="button-wrap">
          <a
            href="http://simon-baumhauer.developerakademie.net/Join-Project-Managment/"
            target="_blank"
            >TRY OUT</a
          >
          <a
            href="https://github.com/simon-baumhauer/Join-Project-Managment.git"
            target="_blank"
          >
            Github
          </a>
        </div>
      </div>
    </div>
    <div class="projects quizapp-pic" *ngIf="angular; all" data-aos="fade-left">
      <img class="img" src="../assets/img/slack-clone-pic.png" alt="" />
      <div class="overlay">
        <h4>Slack Clone</h4>
        <p>Chat application</p>
        <div class="button-wrap">
          <a href=" http://gruppe-248.developerakademie.net" target="_blank"
            >TRY OUT</a
          >
          <a href="https://github.com/simon-baumhauer/Slack.git" target="_blank"
            >Github</a
          >
        </div>
      </div>
    </div>
    <div
      class="projects kochwelt-pic"
      *ngIf="angular; all"
      data-aos="fade-right"
    >
      <img class="img" src="../assets/img/ringOfFire.png" alt="" />
      <div class="overlay" data-aos="fade-up">
        <h4>Ring of Fire</h4>
        <p>Popular Card game</p>
        <div class="button-wrap">
          <a href="https://ring-of-fire-d01c3.web.app/" target="_blank"
            >TRY OUT</a
          >
          <a
            href="https://github.com/simon-baumhauer/ringoffire.git"
            target="_blank"
            >Github</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
