<div class="projects-sheet" id="projects">
    <h2>My Projects</h2>
    <div>
        <button>ALL</button>
        <button>Javascipt</button>
        <button>Angular</button>
    </div>
    <div class="projects-container">
        <div class="projects">
            <img src="../assets/img/El-Pollop-Loco.png" alt="">
        </div>
        <div class="projects">
            <img src="../assets/img/quiz.jpg" alt="">
        </div>
        <div class="projects">
            <img src="../assets/img/Kochwelt.png" alt="">
        </div>
        <div class="projects">
            <img src="../assets/img/joinlogo.png" alt="">
        </div>
    </div>

</div>
