header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  z-index: 1;
  padding-left: 120px;
  padding-right: 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: white;
    text-decoration: none;
    margin-left: 32px;
    font-weight: 500;

    &:hover {
      color: rgb(250, 39, 89);
    }
  }

  img {
    height: 50px;
    cursor: pointer;
  }

  .darkLinks {
    a {
      color: black;

      &:hover {
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  .dropdown-item {
    color: white;
  }
}
header {
  .dropdown-menu-container {
    display: none;
  }
}

.darkHeader {
  background-color: white;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 500px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .side-menu {
    display: none;
  }

  .dropdown-menu-container {
    display: inline !important;
  }
}
