<div class="contact-sheet" id="contact">
    <div class="contact-container">
    <h2>Contact me.</h2>
    <h4>Get  in touch via the form below, or by emailing <a>simon.baumhauer@hotmail.ch</a></h4>
    <form class="forms" action="http://simon-baumhauer.developerakademie.net/send_mail.php" method="post">
        <input id="name" type="text" name="name" required placeholder="Enter your Name">
        <input id="email" type="email" name="nachname" required placeholder="Enter your E-mail">
        <textarea name="message" placeholder="Enter your message"></textarea>
        <button typ="submit">Absenden</button>
    </form>
    </div>
</div>
