<div class="contact-sheet" id="contact">
    <div class="contact-container">
    <h2 data-aos="fade-left">Contact me.</h2>
    <h4 data-aos="fade-right">Get  in touch via the form below, or by emailing <a href="mailto:simon.baumhauer@homtail.ch">simon.baumhauer@hotmail.ch</a></h4>
    <form class="forms" action="http://simon-baumhauer.developerakademie.net/send_mail.php" method="post">
        <input data-aos="fade-left" id="name" type="text" name="name" required placeholder="Enter your Name">
        <input data-aos="fade-right" id="email" type="email" name="surename" required placeholder="Enter your E-mail">
        <textarea data-aos="fade-left" type="text" minlength="20" name="message" placeholder="Enter your message"></textarea>
        <button data-aos="fade-right" typ="submit">Absenden</button>
    </form>
    </div>
</div>
