<div class="skill-sheet">
    <div class="flex-rows">
        <div>
            <div class="cricle">
                <img src="../assets/img/html.svg" alt="">
            </div>
            <h3>HTML</h3>
        </div>
        <div>
            <div class="cricle">
                <img src="../assets/img/angular.svg" alt="">
            </div>
            <h3>Angular</h3>
        </div>
        <div>
            <div class="cricle">
                <img src="../assets/img/css.svg" alt="">
            </div>
            <h3>CSS</h3>
        </div>
    </div>
    <div class="flex-rows">
        <div>
            <div class="cricle">
                <img src="../assets/img/scrum.png" alt="">
            </div>
            <h3>SCRUM</h3>
        </div>
        <div>
            <div class="cricle">
                <img src="../assets/img/Git-Icon-1788C 2.png" alt="">
            </div>
            <h3>GIT</h3>
        </div>
        <div>
            <div class="cricle">
                <img src="../assets/img/design-thinking.png" alt="">
            </div>
            <h3>DESIGN<br>THINKING</h3>
        </div>
    </div>
    <div class="flex-rows">
        <div>
            <div class="cricle">
                <img src="../assets/img/icons8-rest-api-80 2.png" alt="">
            </div>
            <h3>REST API</h3>
        </div>
        <div>
            <div class="cricle">
                <img src="../assets/img/icons8-test-lab-96 2.png" alt="">
            </div>
            <h3>TEST automation</h3>
        </div>
        <div>
            <div class="cricle">
                <img src="../assets/img/icons8-database-52 2.png" alt="">
            </div>
            <h3>Databases</h3>
        </div>
    </div>
</div>