
<h1>Impressum</h1>

<p>Informationspflicht laut §5 E-Commerce Gesetz und Offenlegungspflicht laut §25 Mediengesetz
</p> 

<p>
    Simon baumhauer<br>
    Kluggasse 10<br>
    8640 Rapperswil-Jona<br>
    Schweiz
</p> 
<p>
    Tel: +41765458351<br>
    E-Mail: simon.baumhauer@hotmail.ch
</p>

    



<h2>Ihre Rechte</h2>
<p>Ihnen stehen bezüglich Ihrer bei uns gespeicherten Daten grundsätzlich die Rechte auf Auskunft, 
Berichtigung, Löschung, Einschränkung, Datenübertragbarkeit, Widerruf und Widerspruch zu. Wenn Sie glauben,
dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen
Ansprüche sonst in einer Weise verletzt worden sind,
können Sie sich bei der oben genannten E-Mail-Adresse oder Ihrer Datenschutzbehörde beschweren.
</p> 

Generiert mit dem kostenlosen und einfachen Impressum Generator von idigIT e.U.
